<h1>Contacts App</h1>

<% @contacts.each do |contact| %>
	<h1><%= link_to "#{contact.full_name}", "/contacts/#{contact.id}" %></h1>
	<h6>Updated on: <%= contact.friendly_updated_at %></h6>
	<h3>Email: <%= contact.email %></h3>
	<h3>Phone Number: <%= contact.phone_number %></h3>
	<h4>Biography: <%= contact.biography %></h4>
	<br>
<% end %>