<h1>New Contact</h1>

<%= form_tag '/contacts', method: :post do %>
	<div>
	  <%= label_tag :first_name %>
	  <%= text_field_tag :first_name %>
	</div>
	<div>
	  <%= label_tag :middle_name %>
	  <%= text_field_tag :middle_name, @contact.middle_name %>
	</div>
<div>
	  <%= label_tag :last_name %>
	  <%= text_field_tag :last_name %>
	</div>
	<div>
	  <%= label_tag :email %>
	  <%= text_field_tag :email %>
	</div>
	<div>
	  <%= label_tag :phone_number %>
	  <%= text_field_tag :phone_number %>
	</div>
	<div>
	  <%= label_tag :biography %>
	  <%= text_field_tag :biography, @contact.biography %>
	</div>
	<div>
	  <%= submit_tag 'Send Contact' %>
	</div>

<% end %>